<div class="input-group mb-3 mx-auto w-25">
  <input type="text" autofocus="" [(ngModel)]="newTodo.name" class="form-control" placeholder="Ce qui doit etre fait ?" aria-label="Ce qui doit etre fait ?" aria-describedby="basic-addon2" (keyup.enter)="createTodo()">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="createTodo()">Ajouter</button>
  </div>
</div>
<section class="d-flex flex-wrap p-2">
    <div *ngFor="let todo of todos;" class="col-3 border border-secondary mb-3" style="height: 50px">
      {{todo.id}}
      {{todo.name}}
      <button (click)="deleteTodo(todo.id)">Supprimer</button>
    </div>
</section>

